<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title></title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="styles/main.css"/>

    </head>
    <body ng-app="site2goUiApp">

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        
        <!--[if lt IE 9]>
            <script src="scripts/vendor/es5-shim.min.js"></script>
            <script src="scripts/vendor/json3.min.js"></script>
        <![endif]-->

        <div id="login" ui-modal ng-model="showLogin" class="fade" data-backdrop="static" data-show="false" data-keyboard="true" ng-controller="LoginCtrl">
            <div class="modal-header">
                <h3>Login</h3>
            </div>
            <div class="modal-body">
                <div class="alert alert-error" ng-show="loginFailed">
                    <i class="icon-remove"></i> Invalid login details, please try again.
                </div>
                <form class="form-horizontal" name="loginForm" ng-submit="login()">
                    <div class="control-group">
                        <label class="control-label" for="login_email">Email Address:</label>
                        <div class="controls">
                            <input blurred-errors type="email" ng-model="email" name="email" id="login_email" required /><br/>
                            <span ng-show="loginForm.email.showErrors">
                                <span ng-show="loginForm.email.$error.required">This field is required</span>
                                <span ng-show="loginForm.email.$error.email">Invalid email address</span>
                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="login_password">Password:</label>
                        <div class="controls">
                            <input blurred-errors type="password" ng-model="password" name="password" id="login_password" required /><br/>

                            <span ng-show="loginForm.password.showErrors">
                                <span ng-show="loginForm.password.$error.required">This field is required</span>
                            </span>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Add your site or application content here -->
        <div class="container" ng-view></div>

        <script src="components/jquery/jquery.js"></script>
        <script src="scripts/vendor/jstorage.js"></script>
        <script src="scripts/vendor/angular.js"></script>
        <script src="scripts/vendor/angular-resource.js"></script>
        <script src="components/angular-ui/build/angular-ui.js"></script>

        <script src="scripts/vendor/bootstrap/bootstrap-transition.js"></script>
        <script src="scripts/vendor/bootstrap/bootstrap-modal.js"></script>

        <script src="components/base64codec/base64codec.js"></script>


        <!-- build:js scripts/scripts.js -->
        <script src="scripts/site2go-ui.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/Login.js"></script>
        <script src="scripts/controllers/Sites.js"></script>
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--<script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>-->
    </body>
</html>
